In [5]:
import pandas as pd

from features import Featured

people = pd.read_csv("../datasets/brazilian_names.csv")

df = pd.DataFrame([Featured.from_row(row["name"], row["gender"]) for row in people.to_dict(orient="records")])

In [12]:
df.loc[df["ending_vowel"].isna()]

,original,syllables,ends_in_vowel,ending_vowel,ending_consonant,nasal_count,sharp_count,a_count,i_count,u_count,e_count,o_count,rome_r_count,potato_r_count,laughed_r_count,gender
91,beatriz,"[Bea, tri, z]",False,None,z,2,1,1,1,0,1,0,1,0,0,F

In [9]:
df["ending_vowel"].value_counts()

ending_vowel
a    44
o    29
e    13
i     9
u     3
y     1
Name: count, dtype: int64